body {
    font-family: "Times New Roman", serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #000000;
    font-size: 30px;
}

header {
    background-color: #fa7b04;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.hero {
    background-image: url('https://wallpapers.com/images/hd/plain-yellow-and-orange-gradient-desktop-lkhdbbzs3u0r2i97.jpg');
    background-size: cover;
    padding: 60px 20px;
    animation: fadeIn 2s;
    text-align: center;
    font-size: 40px;
}

.hero2 {
    background-image: url('https://static.vecteezy.com/system/resources/previews/007/121/440/non_2x/abstract-gradient-blue-background-vector.jpg');
    background-size: cover;
    padding: 60px 20px;
    animation: fadeIn 2s;
    text-align: center;
    font-size: 40px;
}

.burger-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.burger {
    background-color: rgb(255, 255, 255);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 30%;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.burger:hover {
    transform: scale(1.05);
}

footer {
    background-color: hsla(246, 100%, 50%, 0.781);
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.texto {
    font-size: 1.5rem;
}
.centrado {
    width: 60%;
    margin-left: 15%;
}

.header2 {
    background-color: #0b31da;
    color: white;
    padding: 20px;
    text-align: center;
}
